/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: hsl(11, 73%, 66%);
    --color-primary-light: hsl(11, 100%, 80%);
    --color-black: hsl(270, 3%, 11%);
    --color-white: hsl(0, 0%, 100%);
    --color-dark-grey: hsl(264, 5%, 20%);
    --color-light-grey: hsl(210, 17%, 95%);
  }
}

@layer components {
  .btn {
    @apply rounded-lg bg-white p-[18px_25px_16px_24px] text-btn uppercase text-black transition-colors hover:bg-primary-light hover:text-white;
  }
}
