/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: hsl(11, 73%, 66%);
    --color-primary-light: hsl(11, 100%, 80%);
    --color-black: hsl(270, 3%, 11%);
    --color-white: hsl(0, 0%, 100%);
    --color-dark-grey: hsl(264, 5%, 20%);
    --color-light-grey: hsl(210, 17%, 95%);
  }
}

@layer components {
  .btn {
    @apply rounded-lg bg-white p-[18px_25px_16px_24px] text-btn uppercase text-black transition-colors hover:bg-primary-light hover:text-white;
  }
}

.feature-container {
  background-image: url("/assets/home/desktop/illustration-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.call-to-action-container {
  background-image: url("/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
  background-size: 200%;
  background-position: left 80% top 50%;
  background-repeat: no-repeat;
}

.project-info {
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-info h2,
.project-info p {
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-info {
  background-color: var(--color-primary);
}

.project-link:hover h2,
.project-link:hover p {
  color: var(--color-white);
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .call-to-action-container {
    background-image: url("/assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg");
    background-size: 150%;
    background-position: left 30% top 50%;
  }

  .hero-container {
    background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-position: left 171px top 102px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1190px) {
  .call-to-action-container {
    background-image: url("/assets/shared/desktop/bg-pattern-call-to-action.svg");
    background-size: 75%;
    background-position: left 100% top 50%;
  }
  .hero-container {
    background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 0;
  }

  body {
    background-image: url("/assets/shared/desktop/bg-pattern-leaf.svg");
    background-repeat: no-repeat;
    background-position: left 0 top 475px;
  }
}
