/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: hsl(11, 73%, 66%);
    --color-primary-light: hsl(11, 100%, 80%);
    --color-black: hsl(270, 3%, 11%);
    --color-white: hsl(0, 0%, 100%);
    --color-dark-grey: hsl(264, 5%, 20%);
    --color-light-grey: hsl(210, 17%, 95%);
  }
}
